@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', cursive;
}
a{
    text-decoration: none;
    color: #59483e;
}
html{
    width: 100%;
    height: 100%;
    color: #59483e;
}
body{
    background-image: url(../image/fondo.png);
    background-attachment: fixed;
    background-size: 100% 110%;
}
header{
/*    opacity: 0.2;*/
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
/*    background-color: red;*/
}
#pTitulo{
    padding-left: 10px;
    font-size: 3rem;
}
h1{
    font-size: 11rem;
}
.main1{
/*    opacity: 0.5;*/
    position: absolute;
/*    background-color: green;*/
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: end;
}
.main2{
/*    opacity: 0.5;*/
    position: absolute;
/*    background-color: green;*/
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow: column;
}
.container{
/*    background: blue;*/
    width: 50%; 
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: end;
}
.container li{
    text-align: right;
    list-style: none;
    font-size: 2rem;
    padding-top: 20px;
    padding-right: 20px;
}
.container img{
    padding-top: 30px;
    padding-right: 20px;
    justify-content: flex-end;
}
.ejercicio{
    width: 50%;
    height: 100%;
    display: flex;
    margin-top: 476.5px;
/*    background-color: purple;*/
}
form{
    margin-left: 10px;
    width: 100%;
    height: 100%;
}
.inicioSesion{
/*    background-color: yellow;*/
    width: 100%;
}
input{
    font-size: 1.4rem;
    width: 50%;
    height: 30px;
    margin-bottom: 20px
}
/*input(submit){
    color: #59483e;
}*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}
footer #derechos{
    width: 75%;
    height: 50px;
    padding: 15px 15px;
    font-size: 1rem;
}
#derechos a{
    text-decoration: underline;
}
footer #fotos{
    position: absolute;
    bottom: 0;
    right: 0;
}
footer * img{
    width: 40px;
}
#sauces{
    background-color: white;
    border-radius: 50%;
}
#home{
    width: 35px;
}